.header-fixed {
    background-color: #212224;
    box-shadow: 0 1px 1px #ccc;
    padding: 20px 40px;
    height: 80px;
    color: #ffffff;
    box-sizing: border-box;
    top: -100px;
  
    -webkit-transition: top 0.3s;
    transition: top 0.3s;
  }
  
  #Logo-Header {
    float: left;
    width: 12vw;
    margin-top: -7vh;
  }
  #header-button {
    margin-left: 10px;
    font-size: 17px;
    background-color: #fc5b3f;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
  }
  #header-button:hover {
    background-color: #f73f1e;
  }
  #header-nav a {
    padding-left: 10px;
    font-size: 17px;
  }
  #header-nav a:hover {
    color: #f73f1e;
  }
  .header-fixed .header-limiter {
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
  }
  .header-fixed-placeholder {
    height: 80px;
    display: none;
  }
  
  /* Logo */
  
  .header-fixed .header-limiter h1 {
    float: left;
    font: normal 28px Cookie, Arial, Helvetica, sans-serif;
    line-height: 40px;
    margin: 0;
  }
  
  .header-fixed .header-limiter h1 span {
    color: #5383d3;
  }
  
  /* The navigation links */
  
  .header-fixed .header-limiter a {
    color: #ffffff;
    text-decoration: none;
  }
  
  .header-fixed .header-limiter nav {
    font: 16px Arial, Helvetica, sans-serif;
    line-height: 40px;
    float: right;
  }
  
  .header-fixed .header-limiter nav a {
    display: inline-block;
    padding: 0 5px;
    text-decoration: none;
    color: #ffffff;
    opacity: 0.9;
  }
  
  .header-fixed .header-limiter nav a:hover {
    opacity: 1;
  }
  
  /*  */
  
  /* Fixed version of the header */
  
  body.fixed .header-fixed {
    padding: 10px 40px;
    height: 50px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  body.fixed .header-fixed-placeholder {
    display: block;
  }
  
  body.fixed .header-fixed .header-limiter h1 {
    font-size: 24px;
    line-height: 30px;
  }
  
  body.fixed .header-fixed .header-limiter nav {
    line-height: 28px;
    font-size: 13px;
  }
  
  /* Making the header responsive */
  
  @media all and (max-width: 600px) {
    .header-fixed {
      padding: 20px 0;
      height: 75px;
    }
  
    .header-fixed .header-limiter h1 {
      float: none;
      margin: -8px 0 10px;
      text-align: center;
      font-size: 24px;
      line-height: 1;
    }
  
    .header-fixed .header-limiter nav {
      line-height: 1;
      float: none;
    }
  
    .header-fixed .header-limiter nav a {
      font-size: 13px;
    }
  
    body.fixed .header-fixed {
      display: none;
    }
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  