.last-container {
  color: white;
  background-color: black;
  padding: 2vh;
}
.last-text {
  margin: 10px;
}
.last-flex {
  display: flex;
  margin: 10px;
  align-items: center;
}
.box-1 svg {
  margin: 3px;
}
