
html {
    background: url("https://images.unsplash.com/photo-1485802007047-7774de7208e5?dpr=1&auto=compress,format&fit=crop&w=1800&h")
      no-repeat center center fixed;
    background-size: cover;
    font-family: "Droid Serif", serif;
  }