.aboutUsinfo {
    display: flex;
    margin: 20px;
    justify-content: space-around;
  }
  .no-round {
    width: 40vw;
    height: 45vh;
  }
  
  .heading-text {
    width: 45vw;
  }
  .heading-text p {
    color: black;
  }
  .heading-sm-lead {
    color: green;
  }
  