.aboutUsinfo {
  display: flex;
  margin: 20px;
  justify-content: space-around;
  padding: 10px;
  background-color: rgba(238, 238, 238, 0.829);
}
.no-round {
  width: 40vw;
  height: 45vh;
}

.heading-text {
  width: 45vw;
}
.heading-text p {
  color: black;
}
.heading-sm-lead {
  color: green;
}
