@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
}
.aboutUsCararousel {
  margin-top: 10vh;
  height: 90vh;
}


.AboutUscard-1 {
  padding: 20px;
  display: flex;
  color: white;
  width: 100vw;
  height: 80vh;
  background-image: url("http://demo.themenio.com/finance/image/slider-lg-b.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.AboutUscard-2 {
  padding: 20px;
  display: flex;
  color: white;
  width: 100vw;
  height: 80vh;
  background-image: url("http://demo.themenio.com/finance/image/slider-lg-a.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}
.AboutUscard-1 h1,
.AboutUscard-2 h1 {
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  font-size: 4vw;
  margin-left: 10vw;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}
.AboutUscard-1 p,
.AboutUscard-2 p {
  margin: 10px;
  font-size: 1.5vw;
  color: white;
  font-family: "Roboto", sans-serif;
}
