.end-grid-2 {
  margin-top: 4vh;
  margin-bottom: 4vh;
  display: flex;
  justify-content: space-evenly;
}
.end-first-column img {
  margin: 15px;
}
.end-first-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.end-text {
  color: black;
  font-size: 15px;
}
